body, html {
}

.scrollable {
  overflow-y: auto; /* Ativa o scroll apenas no contêiner certo */
  scrollbar-width: thin; /* Estiliza para navegadores como Firefox */
  scrollbar-color: transparent transparent; /* Firefox: Transparente */
}

.scrollable::-webkit-scrollbar {
  width: 0px;
   background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo */
}

.infinite-scroll-component {
  overflow: visible !important; /* Impede barras de rolagem internas */
}

.custom-select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

.custom-select:focus {
  border-color: #4A90E2;
  outline: none;
}