body, html {
}

.scrollable {
  overflow-y: auto; /* Ativa o scroll apenas no contêiner certo */
  scrollbar-width: thin; /* Estiliza para navegadores como Firefox */
  scrollbar-color: transparent transparent; /* Firefox: Transparente */
}

.scrollable::-webkit-scrollbar {
  width: 0px;
   background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo */
}

.infinite-scroll-component {
  overflow: visible !important; /* Impede barras de rolagem internas */
}